<app-navbar [showSearch]="false" [isAbsolute]="false"></app-navbar>
<div class="top-layout flex-col gap-1">
  <app-active-package-info></app-active-package-info>
  <div class="wrapper">
    <a class="form-a">Изменить пароль</a>
    <div class="card-title">
      Личные данные
    </div>
    <div class="form">
      <div class="form-control">
        <label> Эл.почта</label>
        <input type="email" placeholder="Ваш email">
      </div>
      <div class="form-control">
        <label>Имя</label>
        <input type="text" placeholder="Ваше имя">
      </div>
      <div class="form-control">
        <label>Фамилия</label>
        <input type="text" placeholder="Ваше фамилия">
      </div>
      <div class="form-control">
        <label>Телефон</label>
        <input type="tel" placeholder="Ваше номер телефона">
      </div>
    </div>
  </div>
  <div class="profile-settings flex center-space-between gap-1">
    <div class="wrapper grow-1">
      <div class="card-title">
        Настройки профиля
      </div>
      <div class="form">
        <div class="form-control">
          <label>Язык платформы</label>
          <select>
            <option>Русский</option>
            <option>Казахский</option>
          </select>
          <img src="assets/svg/arrow-down.svg" alt="">
        </div>
        <div class="form-control">
          <label>Город по умолчанию</label>
          <select>
            <option>Астана</option>
            <option>Алматы</option>
            <option>Шымкент</option>
          </select>
          <img src="assets/svg/arrow-down.svg" alt="">
        </div>
      </div>
    </div>
    <div class="wrapper grow-1">
      <div class="card-title">
        Настройки профиля
      </div>
      <div class="form">
        <div class="form-control">
          <label>Текущий тариф</label>
          <select>
            <option>Бизнес</option>
            <option>Стандарт</option>
          </select>
          <img src="assets/svg/arrow-down.svg" alt="">
        </div>
        <div class="subscribe flex center-space-between gap-1">
          <span>Отменить подписку</span>
          @if(subscribe){
            <img src="assets/svg/toggle-on.svg" alt="icon" (click)="subscribe = !subscribe">
          } @else {
            <img src="assets/svg/toggle-off.svg" alt="icon" (click)="subscribe = !subscribe">
          }
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <span class="font-14">GeoIntellect всегда на связи</span>
    <div class="form-control">
      <h3>
        Если у вас остались вопросы, получите бесплатную консультацию. Заполните форму обратной связи ниже,
        напишите нам на эл. почту <a [innerHTML]="'custdev@geoanalitica.kz'"> </a> или свяжитесь с нами по телефону: <a
        [innerHTML]="'+7 (777) 712-34-56.'" href=""></a>
      </h3>
    </div>
  </div>
  <div class="wrapper mb-40">
    <div class="card-title">
      Форма обратной связи
    </div>
    <div class="form">
      <div class="form-control">
        <label>Ваше имя</label>
        <input type="text" placeholder="Ваше имя">
      </div>
      <div class="form-control">
        <label>Номер телефона</label>
        <input type="tel" placeholder="+7 (777) 123-45-67">
      </div>
      <div class="form-control">
        <label>Эл.почта</label>
        <input type="tel" placeholder="geouser@gmail.com">
      </div>
      <div class="form-control w-70">
        <label>Сообщение</label>
        <textarea>Text</textarea>
      </div>
      <div class="btn">Отправить</div>
    </div>
  </div>
</div>
