<div id="map" class="map match-parent" ></div>
<div class="map-menu flex-col gap-half">
  <div class="map-menu-item center">
    <img src="assets/svg/competitors.svg" alt="">
  </div>
  <div class="map-menu-item center">
    <img src="assets/svg/fire.svg" alt="">
  </div>
  <div class="map-menu-item center">
    <img src="assets/svg/stat.svg" alt="">
  </div>
</div>
<!--<div class="modal-content flex-col" #modalContent>-->
<!--  <div class="modal-content-title">-->
<!--    <h3>Астана, Ельский р-н, ул. Бостандыкова 132</h3>-->
<!--    <span class="font-14 grey-color">51.11818 - 71.42418</span>-->
<!--  </div>-->
<!--  <div class="modal-content-body">-->
<!--    <div class="flex">-->
<!--      <span class="font-14">Численность: 123 456 человек</span>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
