<app-navbar [showSearch]="false" [isAbsolute]="false"></app-navbar>
<div class="top-layout">
  <div class="wrapper">
    <div class="card-title">Тарифные планы</div>
    <div class="flex gap-1">
<!--      <div class=" card card-no-top-padding flex-col center grow-1 gap-2 ">-->
<!--        <div class="card-header">-->
<!--          <p>Стандарт</p>-->
<!--        </div>-->
<!--        <div>-->
<!--          <span class="font-40">9$</span>-->
<!--          <span class="font-24 grey-color"> / месяц</span>-->
<!--        </div>-->
<!--        <div class="card-min flex-col">-->
<!--          <div class="flex center-space-between border-bottom mb-24 pb-24" >-->
<!--            <span class="font-14">Отчетов по точке</span>-->
<!--            <span class="font-14 bold">10</span>-->
<!--          </div>-->
<!--          <div class="flex center-space-between border-bottom mb-24 pb-24">-->
<!--            <span class="font-14">Сохранение отчетов</span>-->
<!--            <span class="font-14 bold">5</span>-->
<!--          </div>-->
<!--          <div class="flex center-space-between">-->
<!--            <span class="font-14">Сравнение отчетов</span>-->
<!--            <span class="font-14 bold">10</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="btn btn-long" routerLink="standart">Выбрать</div>-->
<!--      </div>-->


      <div class="card card-no-top-padding flex-col center grow-1 gap-2">
        <div class="card-header">
          <p>Стандарт</p>
        </div>
        <div>
          <span class="font-40">9$</span>
          <span class="font-24 grey-color"> / месяц</span>
        </div>
        <div class="card-min flex-col">
          <div class="flex center-space-between border-bottom mb-24 pb-24" >
            <span class="font-14">Отчетов по точке</span>
            <span class="font-14 bold">10</span>
          </div>
          <div class="flex center-space-between border-bottom mb-24 pb-24">
            <span class="font-14">Сохранение отчетов</span>
            <span class="font-14 bold">5</span>
          </div>
          <div class="flex center-space-between">
            <span class="font-14">Сравнение отчетов</span>
            <span class="font-14 bold">10</span>
          </div>
        </div>
        <div class="btn btn-long" routerLink="business">Выбрать</div>
      </div>
      <div class="card card-no-top-padding flex-col center grow-1 gap-2">
        <div class="card-header">
          <p>Бизнес</p>
        </div>
        <div>
          <span class="font-40">29$</span>
          <span class="font-24 grey-color"> / месяц</span>
        </div>
        <div class="card-min flex-col">
          <div class="flex center-space-between border-bottom mb-24 pb-24" >
            <span class="font-14">Отчетов по точке</span>
            <span class="font-14 bold">100</span>
          </div>
          <div class="flex center-space-between border-bottom mb-24 pb-24">
            <span class="font-14">Сохранение отчетов</span>
            <span class="font-14 bold">20</span>
          </div>
          <div class="flex center-space-between">
            <span class="font-14">Сравнение отчетов</span>
            <span class="font-14 bold">
              <img src="assets/svg/infinite.svg" alt="">
            </span>
          </div>
        </div>
        <div class="btn btn-long" routerLink="business">Выбрать</div>
      </div>
    </div>
  </div>
</div>
