.flex-end {
  justify-content: flex-end;
}
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.center-space-between {
  justify-content: space-between;
  align-items: center;
}
.left {
  align-items: flex-start;
}
.start {
  justify-content: flex-start;
}
.start-center {
  justify-content: flex-start;
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.w-100 {
  width: 100%;
}
.bg-blue {
  background: #3f80ff;
}
.bg-grey {
  background: #f5f5f5;
}
.gap-quarter {
  gap: 4px;
}
.gap-half {
  gap: 8px;
}
.gap-1 {
  gap: 16px;
}
.gap-2 {
  gap: 32px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mx-40 {
  margin: 40px 0;
}
.mb-40 {
  margin-bottom: 40px;
}
.pb-24 {
  padding-bottom: 24px;
}
.text-center{
  text-align: center;
}
.btn {
  border: none;
  text-align: center;
  border-radius: 30px;
  background: #3f80ff;
  color: white;
  padding: 14px 24px;
  width: 210px;
  font-family: 'Noto-regular', sans-serif;
  font-size: 14px;
  cursor: pointer;
  &-white {
    background: #ffffff;
    border: 1px solid #c4cad4;
    color: #1a1e27;
  }
  &-long {
    width: 100%;
  }
}
.pointer {
  cursor: pointer;
}
.pt-0 {
  padding-top: 0;
}

.font-16 {
  font-size: 16px;
}

.font-14 {
  font-size: 14px;
}
.font-20 {
  font-size: 20px;
}
.font-24 {
  font-size: 24px;
}
.font-40 {
  font-size: 40px;
}
.grey-color {
  color: #8e95a3;
}
.grow-1 {
  flex-grow: 1;
}
.wrap{
  flex-wrap: wrap;
}
.grow-2 {
  flex-grow: 2;
}
.w-70 {
  width: 60%;
}
.basis-50{
  flex-basis: 50%;
}
.p-16 {
  padding: 16px;
}
h1,
h2,
h3 {
  margin: 0;
}
