<div class="info-container">
  <div class="flex-col justify-center">
    <span class="font-24">Ваш тарифный план</span>
    <span class="font-24 bold">Стандарт</span>
  </div>
  <div class="flex-col justify-center">
    <span class="font-14">План активен до: 23.09.24</span>
    <a class="font-14">История покупок</a>
  </div>
  <div class="info-container__data">
    <div class="report-item center gap-2">
      <div class="font-14">Отчетов по точке</div>
      <div class="font-24">7</div>
    </div>
    <div class="report-item center gap-2">
      <div class="font-14">Сохранение отчетов</div>
      <div class="font-24">16</div>
    </div>
    <div class="report-item center gap-2">
      <div class="font-14">Сравнение отчетов</div>
      <div class="font-24">12</div>
    </div>
  </div>
</div>
